.radio_input{
    display: none;
    position: absolute;
}

.radio_button{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--light-green);
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.radio_button:hover{
    cursor: pointer;
}

.radio_button::after{
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: var(--light-green);
    border-radius: 50%;
    top: 52%;
    left: 49%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.radio_input:checked + .radio_button::after{
    opacity: 1;
}

.radio_label{
    display: flex;
    align-items: center;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    color: var(--color-text-primary);
}

.radio_input + .radio_button:hover {
    border: 2px solid var(--dark-green);
    background-color: #c8e1db;
}

.radio_input:checked + .radio_button:hover{
    border: 2px solid var(--dark-green);
    background-color: var(--dark-green);
}


.radio_input:disabled + .radio_button {
    border-color: var(--disabled-green-color);
    background-color: var(--grey-light);
    cursor: not-allowed;
}

.radio_input:disabled + .radio_button::after {
    background-color: var(--disabled-green-color);
}


.radio_input:disabled + .radio_button:hover {
    border-color: var(--disabled-green-color);
    background-color: var(--grey-light);
    cursor: not-allowed;
}

.radio_label_disabled{
    color: var(--color-text-secondary);
}